
// _form-control.scss



.form-icon{
    position: relative;

    .form-control-icon {
        position: relative;
        padding-left: $input-padding-x*3;
    }

    i {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 18px;
        display: flex;
        align-items: center;
    }

    &.right{
        .form-control-icon {
            position: relative;
            padding-right: $input-padding-x*3;
            padding-left: $input-padding-x;
        }

        i {
            right: 18px;
            left: auto;
        }
    }
}

[data-layout-mode="dark"]{
    .form-select {
        background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$gray-400}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>"));
    }
}
