
// _list-group.scss



@each $color,
$value in $theme-colors {
    .list-group-fill-#{$color} {
        border-color: $value;
        background-color: $value;
        color: $white;

        .list-group-item {
            &.active {
                border-color: $value;
                background-color: $value !important;
            }
        }
    }
}

.list-group-fill-light {
    color: $dark !important;
}

.list-group-item {
    margin-bottom: 0;

    .list-text {
        color: $text-muted;
    }

    &.active {
        box-shadow: $element-shadow;

        .list-title {
            color: $white;
        }

        .list-text {
            color: rgba($white, 0.50);
        }
    }
}
