.ribbon-box {

    @each $color,
    $value in $theme-colors {
        .ribbon-#{$color} {
            background: ($value);

            &::before {
                border-color: darken(($value), 10%) transparent transparent;
            }

            &.ribbon-shape {
                &::before {
                    border-top-color: ($value);
                    border-left-color: ($value);
                }

                &::after {
                    border-bottom-color: ($value);
                    border-left-color: ($value);
                }
            }
        }

        &.right {
            .ribbon-#{$color} {
                background: ($value);

                &.ribbon-shape {
                    &::before {
                        border-top-color: ($value);
                        border-right-color: ($value);
                    }

                    &::after {
                        border-right-color: ($value);
                        border-bottom-color: ($value);
                    }
                }
            }
        }
    }

    @each $color,
    $value in $theme-colors {
        .ribbon-two-#{$color} {
            span {
                background: ($value);

                &::before {
                    border-top: 3px solid darken(($value), 15%);
                    border-left: 3px solid darken(($value), 15%);
                }

                &::after {
                    border-top: 3px solid darken(($value), 15%);
                    border-right: 3px solid darken(($value), 15%);
                }
            }
        }
    }

    position: relative;

    .ribbon {
        position: absolute;
        top: 5px;
        left: -1px;
        padding: 5px 12px;
        color: $white;
        box-shadow: 2px 5px 10px rgba($dark, 0.15);
        font-weight: $font-weight-semibold;
        font-size: $font-size-base;

        &.round-shape {
            border-radius: 0 30px 30px 0;
        }

        &.ribbon-shape {
            display: inline-block;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: -17px;
                border: 14px solid transparent;
            }

            &::after {
                content: "";
                position: absolute;
                right: -17px;
                bottom: 0;
                border: 14px solid transparent;
            }
        }

    }

    // ribbon circle
    &.ribbon-circle {
        .ribbon {
            top: 20px;
            left: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            padding: 0;
            border-radius: 50%;
        }
    }

    // ribbon fill

    &.ribbon-fill {
        overflow: hidden;

        .ribbon {
            top: -16px;
            left: -36px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            width: 93px;
            height: 52px;
            transform: rotate(-45deg);
        }

        &.ribbon-sm {
            .ribbon {
                width: 78px;
                height: 42px;
                padding: 2px 12px;
                box-shadow: none;
                font-size: 12px;
            }
        }
    }

    // right
    &.right {
        .ribbon {
            position: absolute;
            right: 0;
            left: auto;

            &.round-shape {
                border-radius: 30px 0 0 30px;
            }

            &.ribbon-shape {
                text-align: right;

                &::before,
                &::after {
                    right: auto;
                    left: -17px;
                    border-left-color: transparent;
                }
            }
        }

        &.ribbon-circle {
            .ribbon {
                right: 20px;
                left: auto;
            }
        }

        .icon-ribbon {
            right: 24px;
            left: auto;
        }

        &.ribbon-fill {
            .ribbon {
                right: -38px;
                left: auto;
                transform: rotate(45deg);
            }
        }

        &.ribbon-box {
            .ribbon-two {
                right: -5px;
                left: auto;

                span {
                    right: -21px;
                    left: auto;
                    transform: rotate(45deg);
                }
            }
        }

    }

    .ribbon-content {
        clear: both;
    }


    // Icon ribbon

    .icon-ribbon {
        top: -12px;
        left: 24px;
        padding: 0;
        box-shadow: none;
        font-size: 40px;
    }


    /* Ribbon two */
    .ribbon-two {
        position: absolute;
        top: -5px;
        left: -5px;
        z-index: 1;
        overflow: hidden;
        width: 75px;
        height: 75px;
        text-align: right;

        span {
            position: absolute;
            top: 19px;
            left: -21px;
            display: block;
            width: 100px;
            color: $white;
            box-shadow: 0 0 8px 0 rgb(0 0 0 / 6%), 0 1px 0 0 rgb(0 0 0 / 2%);
            font-weight: $font-weight-semibold;
            font-size: 13px;
            line-height: 20px;
            text-align: center;
            transform: rotate(-45deg);

            &::before {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                z-index: -1;
                border-right: 3px solid transparent;
                border-bottom: 3px solid transparent;
            }

            &::after {
                content: "";
                position: absolute;
                top: 100%;
                right: 0;
                z-index: -1;
                border-bottom: 3px solid transparent;
                border-left: 3px solid transparent;
            }
        }
    }

}


.ribbon-box {
    &.right {
        .ribbon-three {
            position: absolute;
            top: -6.1px;
            right: 10px;
            left: auto;
        }
    }
}

.ribbon-three {
    position: absolute;
    top: -6.1px;
    left: 10px;

    span {
        position: relative;
        display: block;
        width: 90px;
        padding: 12px 8px 10px;
        border-top-right-radius: 8px;
        color: $white;
        font-size: 14px;
        line-height: 1;
        text-align: center;

        &::after,
        &::before {
            content: "";
            position: absolute;
        }

        &::before {
            top: 0;
            left: -6px;
            width: 6px;
            height: 6px;
        }

        &::after {
            top: 0;
            left: -8px;
            width: 8px;
            height: 6px;
            border-radius: 8px 8px 0 0;
        }
    }

    &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-top: 10px solid;
        border-right: 44px solid transparent;
        border-left: 44px solid transparent;
    }
}

@each $color,
$value in $theme-colors {
    .ribbon-three-#{$color} {
        span {
            background: ($value);

            &::before {
                background: ($value);
            }

            &::after {
                background: darken($value, 10%);
            }
        }

        &::after {
            border-top-color: ($value);
        }
    }
}

// Ribbon Hover
.ribbon-box {
    .trending-ribbon {
        transition: all 0.5s ease;
        transform: translateX(-50px);

        .trending-ribbon-text {
            opacity: 0;
            transition: all 0.5s ease;
        }
    }

    &:hover {
        .trending-ribbon {
            transform: translateX(0);

            .trending-ribbon-text {
                opacity: 1;
            }
        }
    }

    &.right {
        .trending-ribbon {
            transition: all 0.5s ease;
            transform: translateX(50px);

            .trending-ribbon-text {
                opacity: 0;
                transition: all 0.5s ease;
            }
        }

        &:hover {
            .trending-ribbon {
                transform: translateX(0);

                .trending-ribbon-text {
                    opacity: 1;
                }
            }
        }
    }
}
