
// scrollspy.scss


// Scrollspy
.scrollspy-example {
  position: relative;
  overflow: auto;
  height: 200px;
  margin-top: .5rem;
}

.scrollspy-example-2 {
  position: relative;
  overflow: auto;
  height: 370px;
}
