.main-chart {
    .chart-border-left {
        padding: 2px 20px;
        border-left: 1.4px solid $border-color;

        &:last-child {
            margin-right: 0;
        }
    }
}

/* Activity */
.activity-feed {
    list-style: none;

    .feed-item {
        position: relative;
        padding-bottom: 27px;
        padding-left: 16px;
        border-left: 2px solid $light;

        &::after {
            content: "";
            position: absolute;
            top: 4px;
            left: -6px;
            display: block;
            width: 10px;
            height: 10px;
            border: 2px solid $primary;
            border-radius: 50%;
            background-color: $card-bg;
        }

        &:last-child {
            border-color: transparent;
        }
    }
}

// mini-stats-wid
.mini-stats-wid {
    position: relative;

    .mini-stat-icon {
        position: relative;
        overflow: hidden;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: -8px;
            left: 3px;
            width: 8px;
            height: 69px;
            background-color: rgba($success, .1);
            transition: all 0.4s;
            transform: rotate(32deg);
        }

        &::after {
            left: 27px;
            width: 8px;
            transition: all 0.2s;
        }
    }

    &:hover {
        .mini-stat-icon {
            &::after {
                left: 60px;
            }

            &::before {
                left: 50px;
            }
        }
    }
}
