
// _dashboard.scss


.dash-filter-picker {
    min-width: 210px !important;
}


// Flatpickr Calendar

.upcoming-scheduled{
    position: relative;

    .flatpickr-months{
        position: absolute !important;
        top: -45px !important;
        right: 0 !important;
        left: auto !important;
        width: 200px;
        background-color: transparent;

        .flatpickr-month{
            color: $gray-600 !important;
            fill: $gray-600 !important;
        }

        .flatpickr-prev-month, .flatpickr-next-month{
            display: none;
        }
    }

    .flatpickr-calendar{
        box-shadow: none !important;

        .flatpickr-current-month {
            left: 0;
            width: 100%;
            font-size: 13px;
        }

        .flatpickr-monthDropdown-months {
            height: 26px;
            border: 1px solid $border-color;
            border-radius: 4px;
        }

        .flatpickr-weekdays{
            border: none;
            background-color: var(--#{$variable-prefix}light);

            span.flatpickr-weekday {
                color: var(--#{$variable-prefix}dark);
            }
        }

        .flatpickr-day{
            &.today{
                border-color: $success !important;
                background-color: $success;
                color: $white !important;

                &:hover{
                    background-color: rgba($success, 0.2) !important;
                    color: $success !important;
                }
            }

            &.selected{
                border-color: $success !important;
                background-color: $success !important;
                color: $white;
            }
        }

        .numInputWrapper {
            width: 7.5ch;
            margin-left: 10px;
        }
    }

    .flatpickr-days {
        border: none !important;
    }
}

.crm-widget {
    .col {
        border-right: 1px solid $border-color;
        @media (min-width: 768px) and (max-width: 1399.98px) {
            &:nth-child(3) {
                border-right: 0;
            }

            &:last-child {
                border-right: 1px solid $border-color;
            }
         }
        @media (max-width: 767.98px) {
            border-right: 0;
            border-bottom: 1px solid $border-color;
        }

        &:last-child {
            border: 0;
        }
    }
}


@media (min-width: 1400px) and (max-width: 1599.98px) {
    .project-wrapper {
        >.col-xxl-8, .col-xxl-4{
            width: 100%;
        }
    }
}

.crypto-widget {
    max-width: 130px !important;
}


// nft dashboard

.bg-marketplace {
    background-image: url("../../images/nft/marketplace.png");
    background-size: cover;
}

.dash-countdown {
    .countdownlist {
        .count-num {
            padding: 16px 8px;
            background-color: $card-bg;
            font-size: 22px;

            @media (max-width: 575.98px) {
                padding: 8px 6px;
                font-size: 16px;
            }
        }

        .count-title {
            @media (max-width: 575.98px) {
                font-size: 10px;
            }
        }
    }
}

.marketplace-icon {
    position: absolute;
    top: 30px;
    left: 30px;
    float: right;
}

.marketplace-swiper {
    .swiper-button-next,
    .swiper-button-prev {
        top: 34px;
        right: 16px !important;
        width: 28px;
        height: 28px;
        border-radius: .3rem;
        background-color: rgba($primary, 0.1);
        color: $primary;
    }

    .swiper-button-prev {
        right: 58px !important;
        left: auto !important;
    }
}

.dash-collection {
    .content {
        background-color: rgba($white, 0.25);
        backdrop-filter: blur(5px);
    }
}

.dash-nft {
    @media (max-width: 1441.98px) {
        .col-xxl-9,
        .col-xxl-3 {
            width: 100% !important;
            max-width: 100% !important;
        }
    }
}

// .jvm-markers-group {
//     image {
//         height: 20px !important;
//         width: 20px !important;
//     }
// }

.jvectormap-legend-cnt-h .jvectormap-legend-tick-sample {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
}
