
// _gallery.scss


.categories-filter {
    .list-inline-item {
        position: relative;
        margin-right: 0;

        a {
            display: block;
            margin: 5px;
            padding: 8px 15px;
            color: var(--#{$variable-prefix}body-color);
            font-weight: $font-weight-semibold;
            cursor: pointer;
        }
    }
}

.gallery-box {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid transparent;
    background-color: transparent;
    box-shadow: none;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: $card-bg;
        transition: all 0.4s;
    }

    .gallery-container {
        position: relative;
        overflow: hidden;
        border-radius: 4px;

        a {
            display: block;
        }

        .gallery-overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: flex-end;
            overflow: hidden;
            width: 100%;
            padding: 16px;
            background: linear-gradient(180deg, rgb(0 0 0 / 0%) 10%, rgb(0 0 0 / 0%) 60%, rgb(0 0 0 / 50%) 100%);
            opacity: 0;
            visibility: hidden;
            transition: all 0.4s ease-in-out 0s;

            .overlay-caption {
                margin: 0;
                color: $white;
                font-size: 16px;
            }
        }
    }

    .gallery-img {
        transition: all 0.2s ease-in-out;
    }

    .box-content {
        position: relative;

        .title {
            display: none;
            margin-bottom: 4px;
            font-size: 14px;
        }

        .post {
            margin: 0;
            color: $text-muted;
            transition: all 0.2s;
        }
    }

    &:hover {
        &::before {
            height: 100%;
        }

        .box-content {
            bottom: 0;

            .post {
                opacity: 1;
            }
        }

        .gallery-overlay {
            opacity: 1;
            visibility: visible;
        }
    }
}

.gallery-light {
    .gallery-box {
        &::before {
            background-color: var(--#{$variable-prefix}light);
        }
    }
}
