
// _invoice.scss


.invoice-table {
    tbody {
        &:last-child {
            border: none;
        }
    }
}

.currency-select {
    .choices__inner {
        min-height: 0;
        padding:0;
        padding-right: 15px;
    }

    .choices__list--single {
        padding: 0 16px 0 4px;
    }

    .choices[data-type*=select-one]{
        bottom: 0;

        ::after {
            top: 4px;
        }

        .choices__inner {
            padding-bottom: 0;
        }
    }
}
