
// _kanban.scss


.tasks-board {
    display: flex;
    align-items: stretch;
    overflow-x: auto;

    .tasks-list {
        min-width: 300px;
        margin-right: 24px;
    }

    &::-webkit-scrollbar {
        appearance: none;
    }

    &::-webkit-scrollbar:vertical {
        width: 10px;
    }

    &::-webkit-scrollbar:horizontal {
        height: 8px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: rgb(var(--#{$variable-prefix}dark-rgb) .075);
    }

    &::-webkit-scrollbar-track {
        border-radius: 8px;
    }
}

.tasks-box{
    .progress {
        border-radius: 0 0 $card-border-radius $card-border-radius;
    }

    .tasks-img{
        object-fit: cover;
        width: 100%;
        height: 135px;
        margin: 12px 0;
        object-position: center;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.tasks-wrapper {
    max-height: calc(100vh - 410px);
}


.tasks {
    position: relative;
    min-height: 140px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 270px;
        height: 180px;
        margin: 0 auto;
        background-image: url('../../images/file.png');
        background-position: center;
        background-size: cover;
    }
}

#tasksList {
    tr {
        .tasks-list-menu {
            opacity: 0;
        }

        &:hover {
            .tasks-list-menu {
                opacity: 1;
            }
        }
    }
}
