
// _landing.scss


.layout-wrapper {
  &.landing {
    background-color: $card-bg;
    font-size: 15px;
  }
}

// helper

.section {
  position: relative;
  padding: 90px 0;

  @media (max-width: 767.98px) {
    padding: 50px 0;
  }
}

.icon-effect {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba($success, 0.2);
  }
}

// navbar

.navbar-landing {
  padding: 10px 0;
  transition: all 0.5s ease;

  @media (max-width: 991.98px) {
    padding: 10px 8px;
    background-color: $card-bg;
    box-shadow: 0 1px 16px -2px rgb(56 65 74 / 15%);
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        padding: 14px;
        color: var(--#{$variable-prefix}dark);
        font-weight: $font-weight-medium;
        font-size: 16px;
        font-family: $font-family-secondary;
        transition: all 0.4s;

        @media (max-width: 991.98px) {
          padding: 8px 0;
        }

        &:hover,
        &.active,
        &:focus {
          color: $success  !important;
        }
      }

      &.active {
        .nav-link {
          color: $success  !important;
        }
      }
    }


  }

  .nav-link.active {
    color: $success  !important;
  }

  &.is-sticky {
    background-color: $card-bg;
    box-shadow: 0 1px 16px -2px rgb(56 65 74 / 15%);
  }
}

// navbar-light
.navbar-light {
  .navbar-brand {
    .card-logo-dark {
      display: none;
    }

    .card-logo-light {
      display: block;
    }
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        color: rgba($light, 0.75);
      }
    }
  }

  &.is-sticky {
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: var(--#{$variable-prefix}dark);
        }
      }
    }

    .navbar-brand {
      .card-logo-dark {
        display: block;
      }

      .card-logo-light {
        display: none;
      }
    }
  }
}

// hero section

.hero-section {
  background-color: rgb(var(--#{$variable-prefix}light-rgb) 0.5);

  .hero-shape-svg {
    svg {
      path {
        fill: $card-bg;
      }
    }
  }
}

.bg-overlay-pattern {
  background-color: transparent;
  background-image: url("../../images/landing/bg-pattern.png");
  background-position: center;
  background-size: cover;
  opacity: 0.2;
}

.demo-carousel {
  position: relative;
  z-index: 1;

  .carousel-item {
    .demo-item {
      padding: 8px;
      border-radius: 7px;
      background-color: $card-bg;
    }
  }

  .demo-img-patten-top {
    position: absolute;
    top: -16px;
    right: -50px;
    max-width: 230px;
  }

  .demo-img-patten-bottom {
    position: absolute;
    bottom: -50px;
    left: -70px;
    max-width: 230px;
  }
}

// client images
.client-images img {
  width: auto;
  max-height: 45px;
  margin: 12px auto;
  transition: all 0.4s;
}

// plan

.plan-box {
  max-width: 356px;
  margin-right: auto;
  margin-left: auto;
}

// work process
.process-card {
  position: relative;

  .process-arrow-img {
    position: absolute;
    top: 7%;
    left: 75%;
    width: 50%;
    opacity: 0.1;
  }
}

.custom-footer {
  color: #9ba7b3;
}

.footer-list {
  li {
    a {
      display: block;
      padding: 7px 0;
      color: #9ba7b3;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: rgba($white, 0.9);
      }
    }
  }
}

.footer-social-link {
  .avatar-title {
    background-color: rgba($white, 0.05);
    color: #778089;
    transition: all 0.3s ease;

    &:hover {
      background-color: $primary;
      color: $white;
    }
  }
}

// dark

[data-layout-mode="dark"] {
  .layout-wrapper.landing {
    .demo-img-patten-top,
    .demo-img-patten-bottom {
      opacity: 0.2;
    }

    footer.bg-dark {
      background-color: $card-bg  !important;
    }
  }
}
