
// _nft-landing.scss


.bookmark-icon {
    .btn {
        background-color: $light;
        color: $text-muted;
        box-shadow: $box-shadow;
        font-size: $font-size-base;

        &:hover,
        &.active {
            color: $danger;
        }
    }
}

.explore-box {
    overflow: hidden;
    border-radius: 9px;

    .explore-img {
        object-fit: cover;
        height: 280px;
    }

    .explore-place-bid-img {
        position: relative;
        z-index: 0;
        overflow: hidden;

        .bg-overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba($dark, 0.4);
            opacity: 0;
            transition: all 0.5s ease;
        }

        .place-bid-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .btn {
                bottom: -25px;
                opacity: 0;
                transition: 0.5s ease;
            }
        }
    }

    &:hover {
        .explore-place-bid-img {
            .place-bid-btn {
                .btn {
                    bottom: 0;
                    opacity: 1;
                }
            }

            .bg-overlay {
                opacity: 1;
            }
        }
    }

    .discount-time {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 8px;
        background-color: rgba($white, 0.4);
        text-align: center;
        backdrop-filter: blur(5px);
    }
}


.nft-hero {
    padding: 222px 0 150px;
    background-image: url('../../images/nft/bg-home.jpg');
    background-position: bottom;
    background-size: cover;

    .bg-overlay {
        background-color: #05175f;
        opacity: 0.85;
    }
}

#explorecard-list {
    .list-element {
        display: none;

        &:nth-child(-n+10) {
            display: block;
        }
    }
}
