.page-title-box {
    margin: -23px (-$grid-gutter-width) $grid-gutter-width (-$grid-gutter-width);
    padding: 10px $grid-gutter-width;
    border-top: 1px solid $page-title-border;
    border-bottom: 1px solid $page-title-border;
    background-color: $card-bg;
    box-shadow: $page-title-box-shadow;

    .breadcrumb {
        padding: 0;
        background-color: transparent;
    }

    h4 {
        font-weight: 700;
        font-size: 15px!important;
        text-transform: uppercase;
    }
}

[data-layout="horizontal"] {
    .page-title-box {
        margin: 0;
        padding: 1.2rem 0;
        border-top: none;
        border-bottom: none;
        background-color: transparent !important;
        box-shadow: none;

        @media (min-width: 1024.1px) {
            margin: -19px 0 0;
        }
    }
}

[data-layout="vertical"] {
    &[data-layout-style="detached"]{
        .page-title-box {
            margin: 0;
            padding: 1.2rem 0;
            border-top: none;
            border-bottom: none;
            background-color: transparent !important;
            box-shadow: none;

            @media (min-width: 1024.1px) {
                margin: -19px 0 0;
            }
        }
    }
}
